@media(max-width:1375px) {
  .main__contet{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }


}
@media(max-width:1315px){
    .main__chaneels{
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       gap: 15px;
    }
    .main__card{
        margin: 0 auto;
    }
   
}
@media(max-width:1245px){
    .main__box{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
      gap: 10px;
      margin-top: 15px;
    }
    .main__link2{
        margin: 0 auto;
        margin-top: 20px;
    }
    .main__pexels{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .main__dezel-title{
        font-size: 60px;

    }
    .main__dezel-link{
        width: 125px;
        height: 40px;
        font-size: 14px;
    }
    .main__dezel{
        width: 1000px;
        height: 250px;
    }

}
@media(max-width:1160px){
    .main__gren{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
     .main__dezel-title{
        font-size: 55px;

    }
    .main__dezel-link{
        width: 115px;
        height: 40px;
        font-size: 12px;
    }
}
@media(max-width:1025px){
        .main__dezel-title{
        font-size: 50px;
    }
    .main__dezel-link{
        width: 105px;
        height: 40px;
        font-size: 10px;
    }
     .main__dezel{
        flex-direction: column;
        gap: 20px;
        width: 950px;
        height: 220px;
    }
    .main__box-card{
        margin: 0 auto;
    }
}
@media(max-width:965px){
    .footer__info{
      flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 30px;
    }
       .main__dezel{
        width: 750px;
        height: 220px;
    }
     .main__dezel-title{
        font-size: 45px;
        margin: 0 10px;
    }
    .main__dezel-link{
        width: 105px;
        height: 40px;
        font-size: 10px;
    }

}
@media(max-width:840px){
    .header{
        position: relative;
    
    }
    .nav__menyu,.nav__close{
        display: block;
    }
    .nav__list{
       position: absolute;
       top: 0;
       left: -500px;
       flex-direction: column;
       background-color: black;
       height: 100vh;
       width: 30%;
       padding-top: 20px;
       transition: 0.5s;
    }
    .nav__btn{
        order: 1;
    }
    .nav__logo{
        order: 1;
    }
    #menu:checked ~ .nav__list{
      left: 0;
    }
    .header__title{
        font-size: 90px;
        text-align: center;
    }
    .header__contet{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header__contet-text{
        text-align: center;
        margin: 20px 0 20px;
    }
}
@media(max-width:765px){
     .main__dezel-title{
        font-size: 40px;
    }
          .main__dezel{
        width: 650px;
        height: 200px;
    }
    .main__box4{
        align-items: center;
        justify-content: center;
    }
    .main__bunny img{
        width: 600px;
        height: 340px;
    }
    .main__soon{
        width: 600px;
        height: 340px;
    }
    .main__soon-title{
        font-size: 60px;
        margin-top: 25px;
    }
    .main__soon img{
        width: 250px;
        height: 120px;
    }
    .header__title{
        font-size: 80px;
    }
}
@media(max-width:687px){
    .main__contet{
        display: flex;
        overflow-x: scroll;
    }
    .main__card{
        flex-shrink: 0;
    }
    .main__box{
        display: flex;
        overflow-x: scroll;
    }
    .main__card2 {
        flex-shrink: 0;
    }
    .main__box4{
        display: flex;
        overflow-x: scroll;
    }
    .main__card5{
        flex-shrink: 0;
    }
    .main__gren{
        display: flex;
        overflow-x: scroll;
    }
    .main__box-card{
        flex-shrink: 0;
    }
}
@media(max-width:665px){
    .main__dezel{
         width: 550px;
        height: 150px;
    }
      .main__dezel-title{
        font-size: 35px;
    }
}
@media(max-width:610px){
        .main__bunny img{
        width: 500px;
        height: 300px;
    }
      .main__soon{
        width: 500px;
        height: 300px;
    }
     .main__soon-title{
        font-size: 55px;
        margin-top: 20px;
    }
      .main__soon img{
        width: 200px;
        height: 100px;
    }

}
@media (max-width:570px) {
        .main__dezel{
         width: 500px;
        height: 130px;
    }
      .main__dezel-title{
        font-size: 30px;
    }
}
@media(max-width:520px){
    .header__title{
       font-size: 75px;
    }
    .header__contet-text{
        font-size: 16px;
    }
    .header__link{
    width: 110px;
    height: 40px;
    font-size: 14px;
    }
    .header__btn1{
        width: 155px;
    height: 40px; 
    font-size: 14px;

    }
     .main__dezel{
         width: 450px;
        height: 140px;
    }
      .main__dezel-title{
        font-size: 30px;
    }
     .main__bunny img{
        width: 400px;
        height: 250px;
    }
    .main__soon{
        width: 400px;
        height: 250px;
    }
     .main__soon-title{
        font-size: 50px;
        margin-top: 20px;
    }
      .main__soon img{
        width: 160px;
        height: 100px;
    }
}
@media(max-width:465px){
     .main__dezel{
         width: 420px;
        height: 120px;
    }
      .main__dezel-title{
        font-size: 28px;
    }
    .nav__btn{
        gap: 40px;
    }
}
